<form method="post" action="/sessions/<%= session[:user_id] %>" class="logout">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log out" class="btn btn-danger btn-sm">
</form>
