<form method="post" action="/sessions" class="login">
    <fieldset>
        <legend>Log in</legend>
        <label for="email"></label>
        <input id="email" name="email" type="email" placeholder="Please enter your email" required class="form-control" />
        <label for="password"></label>
        <input id="password" name="password" type="password" placeholder="Please enter your password" required class="form-control" />
        <input type="submit" value="Log in" class="btn btn-success btn-sm">
    </fieldset>
</form>
