<div class='row'>
    <form method="post" action="/sessions">
      <fieldset>
        <legend>Log in</legend>
        <label for="email"></label>
        <input id="email" name="email" type="email" placeholder="Please enter your email" required />
        <label for="password"></label>
        <input id="password" name="password" type="password" placeholder="Please enter a password" required />
        <input type="submit" value="Submit">
      </fieldset>
    </form>
</div>

