<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="http://i.imgur.com/oYZ5d8Z.png">
    <h1>Hello from GetTradies,</h1>
    <p>
      Your job has recieved a new tender.<br>
    </p>
    <p>
      Login to the site to view the offer: <a href=<%= @url %>> Your Job</a>.
    </p>
    <p>Thanks for using GetTradies and have a great day!</p>
  </body>
</html>
