<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="http://i.imgur.com/oYZ5d8Z.png">
    <h1>Welcome to GetTradies,</h1>
    <p>
      You have successfully signed up to GetTradies,
      using the mail: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="<%= @url %>">GetTradies</a>.
    </p>
    <p>
      Please be sure to complete your user profile.
    </p><br>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
