<div class='row'>
    <form method="post" action="../users">
      <fieldset>
        <legend>Sign up</legend>
        <label for="email"></label>
        <input id="email" name="email" type="email" placeholder="Please enter your email" required />
        <label for="password"></label>
        <input id="password" name="password" type="password" placeholder="Please enter a password" required />
        <label for="password-confirm"></label>
        <input id="password-confirm" name="password_confirm" type="password" placeholder="Please re-enter your password" required />
        <input type="submit">
      </fieldset>
    </form>
</div>
