<div class="col-xs-10 col-xs-offset-1">
  <h2>Your rating for job:  <%=@job.title%></h2>
  <form method="post" action="../ratings">
    <input type="radio" name="rating" value="1" checked> 1
    <input type="radio" name="rating" value="2"> 2
    <input type="radio" name="rating" value="3"> 3
    <input type="radio" name="rating" value="4"> 4
    <input type="radio" name="rating" value="5"> 5
    <input type="submit" value="rate!">
  </form>
</div>
