<form>
  <fieldset>
    <legend>Sign up</label>
    <label for="email"></label>
    <input id="email" name="email" type="email" placeholder="Please enter your email" required />
    <label for="password"></label>
    <input id="password" name="password" type="password" placeholder="Please enter a password" required />
    <label for="password-confirm"></label>
    <input id="password-confirm" name="password-confirm" type="password-confirm" placeholder="Please re-enter your password" required />
  </fieldset>
</form>
