@media screen and (max-width: 767px) {
  .xs-center {
    float: none;
    text-align: center;
  }
  .input-group {
    width: 100%;
  }
  .input-group .input-group-addon {
    width:40%;
  }
}

@media screen and (min-width: 768px) {
  .sm-pull-right {
    float: right;
  }
  iframe {
    margin-left: 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .job:nth-child(2n+1) {
    clear: both;
  }
  .job:nth-child(3n+1) {
    clear: none;
  }
  .input-group {
    width: 100%;
  }
  .input-group .input-group-addon {
    width:30%;
  }
}

@media screen and (min-width: 991px) {
  .job:nth-child(2n+1) {
    clear: none;
  }
  .job:nth-child(3n+1) {
    clear: both;
  }
  .input-group {
    width: 100%;
  }
  .input-group .input-group-addon {
    width:20%;
    text-align: right;
  }
  iframe {
    margin-left: auto;
  }
}

/* General over-rides */
.margin-correct {
  margin-left: 30px;
}
h1 {
  margin-top: 0px;
}
.map {
  height: 200px;
  width: 200px;
}
.thumbnail {
  width: 100%;
}
.job-view-image {
  padding: 10px;
}

.tradie-thumb {
  max-width: 22%
}

/* not sure who put this in here or why */
.btn-primary {
  margin: 2px;
}
